* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}
input,
textarea {
  outline: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #02059b;
}
h1 {
  margin-top: 0;
  font-weight: 500;
}

/* Form */
form {
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: #fff;
}
.form-inner {
  padding: 40px;
}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}
.form-inner textarea {
  resize: none;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid black;
  background: #02059b;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #14c7e2;
}
