* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: 
    linear-gradient(
      135deg,
      rgb(118, 222, 154),
      rgb(118, 222, 201),
      rgb(118, 205, 222)
    )
    100% 100%
    fixed;
}

a:hover,
button:hover {
  cursor: pointer;
}

legend,
h1{
  font-family: 'Rubik', sans-serif;
}

.top-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 1px 4px 2px rgb(0,0,0, .9);
  background-color: black;
}

.nav-brand-logo{
  width: 40px;
}

.nav-brand-title{
  margin: 0 10px;
  font-size: 34px;
  color: rgb(255, 240, 240);
}

main{
  display: flex;
  justify-content: center;
}

#contact{
  max-width: 500px;
  padding: 20px 10px 10px;
  margin: 40px 20px 20px;
  background-color: rgb(243, 231, 177);
  border-radius: 12px;
}

.contact-legend{
  text-align: center;
  font-size: 28px;
}

fieldset{
  border: none;
  padding: 0;
}

.input-ctnr{
  display: flex;
  flex-flow: row wrap;
}

.form-submit-ctnr,
.form-grp{
  padding: 10px;
}

.form-grp input,
.form-grp label{
  font-size: 20px;
}

.form-grp label{
  display: inline-block;
  margin: 0 0 5px 8px;
}

.form-grp input{
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
}

.form-grp{
  flex: 1 0 190px;
}

.form-grp input{
  width: 100%;
}

.form-submit-ctnr{
  flex: 1 0 100%;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .nav-toggle{
    display: none;
  }
}