* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
a:hover,
button:hover {
  cursor: pointer;
}

.hidden{
  display: none;
}

.top-nav{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.nav-brand-logo{
  width: 40px;
}

.nav-brand-title{
  margin: 0 10px;
}

.nav-links-container{
  margin-left: auto;
}

.nav-links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

main{
  display: flex;
  justify-content: center;
}

#contact{
  max-width: 500px;
  padding: 10px;
  border: 1px solid grey;
  margin: 40px 20px 20px;
}

.contact-legend{
  text-align: center;
}

fieldset{
  border: none;
  padding: 0;
}

.input-ctnr{
  display: flex;
  flex-flow: row wrap;
}

.form-submit-ctnr,
.form-grp{
  padding: 10px;
}


.form-grp{
  flex: 1 1 180px;
}

.form-grp input{
  width: 100%;
}

.form-submit-ctnr{
  flex: 1 0 100%;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .nav-toggle{
    display: none;
  }

  .nav-links{
    position: relative;
    flex-direction: row;
  }
}