body, html {
    background-color: rosybrown;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header, .header1 {
    background-color: honeydew;
}



a {
    font-family: 'Courier New', Courier, monospace;
}
.jumbotron {
    background-color: honeydew;
}

/*products*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*contact information*/
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: honeydew;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
a, body, div, figure,  
input, textarea, ul {
    border: 0;
    padding: 0;
    margin: 0;
}