<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TestProject</display-name>
  
  <servlet>
     <servlet-name>JAVA WebService</servlet-name>
     <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
     
     <init-param>
         <param-name>jersey.config.server.provider.packages</param-name>
         <param-value>restApi</param-value>
     </init-param>
     <init-param>
  		<param-name>jersey.config.server.provider.classnames</param-name>
 		<param-value>org.glassfish.jersey.jackson.JacksonFeature</param-value>
	 </init-param>
	 <init-param>
        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
        <param-value>true</param-value>
    </init-param>
     <load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>JAVA WebService</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>