# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.code-workspace
*.log
*.pid
*.pid.lock
*.seed
*.sublime-project
*.sublime-workspace
*.tgz
.archive/
.bit/
.directory
.DS_Store
.eslintcache
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintrc-no-airbnb
.favorites.json
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.pnp.js
.prj
.scripts/
.vscode/
.yarn-integrity
_notes/
/coverage
/build
/.pnp
archive/
amplify.yml
dist/
jspm_packages/
node_modules/
scripts/
typings/
bookmarks.json
bower_components
build/Release
coverage
fake-credentials.data
GenFakeCredsAndData.js
launch.json
lib-cov
logs
npm-debug.log*
pids
yarn-debug.log*
yarn-error.log*
