<!DOCTYPE html>
<h1 id="myapp">MyApp</h1>
<p>This app will allow users to submit a list of numbers. This app will allow users to retrieve a list of 500 numbers in order.</p>

<h2 id="conditions">Conditions</h2>
<ul>
    <li>list must contain only numbers</li>
    <li>list must contain exactly 500 numbers</li>
    <li>Error must be thrown if previous conditions are not met</li>
<li>GET method must return the same list of numbers in order</li>
</ul>

<p><a href="http://127.0.0.1:5000/data">To Begin, CLICK HERE</a></p>