*.code-workspace
*.log
*.pid
*.pid.lock
*.seed
*.sublime-project
*.sublime-workspace
*.tgz
.bit/
.directory
.DS_Store
.env
.eslintcache
.favorites.json
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.prj
.scripts/
.vscode/
.yarn-integrity
amplify.yml
archive/
bookmarks.json
bower_components
build/Release
coverage
dist/
fake-credentials.data
GenFakeCredsAndData.js
jspm_packages/
launch.json
lib-cov
logs
node_modules/
npm-debug.log*
pids
scripts/
typings/
yarn-debug.log*
yarn-error.log*
