.navbar {
  overflow: auto;
  background-color: gray;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo_img {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.title_txt {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 50px;
  font-weight: 800;
}

label {
  position: relative;
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

input {
  width: 30%;
  position: relative;
  display: block;
  margin-top: 5px;
  padding: 10px;
  font: arial;
}

textarea {
  width: 40%;
  height: 30%;
  position: relative;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  font: arial;
}
