.contact-us-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}
  
.contact-us-text-field {
    width: 100%;
    font-family: 'Roboto';
    font-size: 18px;
    border-radius: 30px;
}

.contact-us-button {
    width: 80%;
    height: 50px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #1976d2;
    color: #ffffff;
}